body{
  background: #f1f1f1;
}

.flex{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 24px;
}

.flex h1{
  font-size: 184px;
  cursor: pointer;
}

.flex div{
  display: flex;
  gap: 12px;
}

.flex button{
  padding: 12px 24px;
  font-size: 2rem;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}